- if images.present?
  %ul.sortable-grid
    - images.each do |image|
      %li.image{data: {image_id: image.id}}
        = image_tag Rails.application.routes.url_helpers.rails_representation_url(image.file.variant(resize: "300x300").processed, only_path: true)

